VITE_BACKEND_URL=http://localhost:8000
# Get key from https://dashboard.stripe.com/test/apikeys
VITE_STRIPE_PUBLISHABLE_KEY=pk_test_51RJL8OCiOi5wiZFlcbwuV2lBxdjtXyuatUA2Y6cbYkjX0t4puZNlWF5ZCLvLFz3MUMSsJqoY08EbbbZ2KqnDtX5Z0087WY1EjD