# ── MongoDB ──────────────────────────────────────────────────────────────────
MONGO_URI=mongodb://localhost:27017
MONGO_DB=your_database_name
MONGO_COLL=contacts_v5

# ── Elasticsearch ─────────────────────────────────────────────────────────────
ES_HOST=http://localhost:9200
ES_USER=elastic
ES_PASS=4kR9vM2nXq8wP7tL5jH3sA1fB6cY0eD
ES_INDEX=contacts_search

